*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.header{
    width:100%;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    background-color:aliceblue;
    height: 45px;
    text-align: center;
    align-items: center;   
}
.logo{
    margin-left: 20px;
    
}
/* .nav-links{
    position: absolute;
} */
.nav-links ul{
    display: flex;
    margin-right: 30px;
}
.nav-links ul li{
list-style: none;
margin-right: 20px;
}
.nav-links ul li a{
    color:black;
}
.icons{
    display: none;
}

@media(max-width:750px){
    .nav-links ul{
        display: block;
     
    } 
    .nav-links{
        position: fixed;
        top:45px;
        background-color: aliceblue;
        width:100%;  
        top:-2000px;
        text-align: center;
        align-items: center;  
        transition: all 0.5s ease-in-out;    
    }
    .nav-links ul li{
        margin: 30px 0px;
    }
    .icons{
        display: block;
      
    }
    #menu{
        display: block;
        margin-right: 20px;
        font-size: 20px;
       
    }
    #close-menu{
        display: none;
        margin-right: 20px;
        font-size: 20px;
    
    }  

}

/* #menu:hover{
    transform: rotate(360deg);
    transition: all 0.5s ease-in-out;
} */
